<div id="<%= dom_id user %>">
    <p>
        <strong>Name:</strong>
         <%= user.name %>
    </p>

    <p>
        <strong>Email:</strong>
         <%= user.email %>
    </p>
    <p>
        <strong>Phone Num:</strong>
         <%= user.phone_number %>
    </p>
        <p>
        <strong>Birthday:</strong>
         <%= user.DOB %>
    </p>
</div>